@inject IJSRuntime JsRuntime
@inject NavigationManager nav
@using CookTool.Client.Shared.Helpers

@if (RecipeList == null && Recipes == null)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="form-inline">
        <h2> @RecipeList.Title </h2>
        @if (!RecipeList.Title.Equals("Fave"))
        {
            <div class="form-group" style="margin-left: 10px;">
                <a class="btn btn-outline-warning" @onclick="() => EditListModal.Open()"><span class="oi oi-brush" aria-hidden="true"></span></a>
            </div>
        }
        <Modal @ref="EditListModal">
            <Title>Update current recipe list!</Title>
            <Body>
                <input type="text" @bind="@RecipeList.Title" />
            </Body>
            <Footer>
                <button type="button" class="btn btn-warning" data-dismiss="modal" @onclick="() => Edit()"><span class="oi oi-check" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => EditListModal.Close()"><span class="oi oi-x" aria-hidden="true"></span></button>
            </Footer>
        </Modal>
    </div>
    <hr />

    <div class="form-group">
        <a class="btn btn-outline-warning" href="recipelist/@RecipeList.Title/addrecipe"><span class="oi oi-plus" aria-hidden="true"></span></a>
    </div>
    <br />

    @if (Recipes.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Public</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (CookTool.Shared.Models.Recipe recipe in Recipes)
                {
                    <tr>
                        <td>
                            <div class="rounded-circle" style=@ImageHelper.ImageStyle>
                                <img src=@ImageHelper.RenderImageString(recipe.Image, "images/default_recipe.png") alt="No image for this user" style="height: 45px;" />
                            </div>
                        </td>
                        <td> @recipe.Title </td>
                        <td> @RecipeHelper.IsPublic(recipe.IsPrivate) </td>
                        <td>
                            <a class="btn btn-warning" href="recipe/@recipe.Id.ToString()"><span class="oi oi-eye" aria-hidden="true"></span></a>
                        </td>
                        <td>
                            <button class="btn btn-danger" @onclick="@(() => Remove(recipe))"><span class="oi oi-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No recipes here!</p>
    }
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Inject]
    public AbstractHttpClientRepository Client { get; set; }

    private CookTool.Shared.Models.RecipeList RecipeList;
    private List<CookTool.Shared.Models.Recipe> Recipes;

    protected override async Task OnInitializedAsync()
    {
        RecipeList = await Client.GetUserRecipeList(Title);
        Recipes = await Client.GetRecipeListRecipes(RecipeList.Id);
    }

    private Modal EditListModal { get; set; }

    async Task Remove(CookTool.Shared.Models.Recipe recipe)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to remove {recipe.Title} recipe from {RecipeList.Title} list?");
        if (confirmed)
        {
            await Client.RemoveRecipeFromRecipeList(RecipeList.Id, recipe.Id);
            await OnInitializedAsync();
        }
    }

    async Task Edit()
    {
        await Client.EditRecipeList(RecipeList.Id, RecipeList);
        Title = RecipeList.Title;
        EditListModal.Close();
        await OnInitializedAsync();
    }
}
